.services-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.services-title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: rgb(49, 49, 49);
  margin: 60px 0 30px 0;
}

@media (min-width: 768px) {
  .services-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
  }
}
@media (min-width: 1024px) {
  .services-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
@media (min-width: 1280px) {
  .services-container {
    gap: 64px;
  }
}
